html {
    box-sizing: border-box;
}

a {
    color: #D12A1C;
}

body {
    /*    background-color: darkred;*/
    overflow: hidden;
    margin: 0;
}

img {
    transition: width 2s, height 2s;
    width: 50vh;
    height: 30vh;
    margin-top: 0px;
}

canvas {
    display: block;
}


.contact {
    position: absolute;
    background-color: #AD1516;
}

.scream1 {
    font-size: 180px;
    transform: rotate(-10deg);
    margin-top: -6vh;
    margin-left: -2vw;
}

.scream2 {
    position: absolute;
    font-size: 110px;
    transform: rotate(-28deg);
    margin-top: -20vh;
    margin-left: 15vw;
}

.scream3 {
    position: absolute;
    font-size: 55px;
    transform: rotate(-8deg);
    margin-top: -12vh;
    margin-left: 38vw;
}

.scream4 {
    position: absolute;
    font-size: 35px;
    margin-top: -5vh;
    margin-left: 55vw;
    width: 100vw;
}

.screamtext {
    position: relative;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    font-size: 50px;
    font-weight: 300px;
}

.contacttext {
    position: relative;
    color: aliceblue;
    font-size: 22px;
    margin-top: 32vh;
    margin-left: 60vw;
}

.form {
    margin-top: 0vh;
    margin-left: 59vw;
}

.intro {
    font-size: 20px;
    font-weight: 50px;
    position: absolute;
    color: aliceblue;
    left: 35vw
}

.info {
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    left: 49vw;
    right: 6vw;
    margin-top: 22vh;
    background-color: black;
}

.infoT {
    width: fit-content;
    left: 77vw;
    font-size: 30px;
    line-height: 30px;
    animation: fadein ease 30s;
    /*    opacity:0;*/
    /*    animation-delay: 2s;*/
    /*    font-family: 'Roboto', sans-serif;*/

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.end {
    font-size: 25px;
    font-weight: 50px;
    position: absolute;
    color: aliceblue;
    left: 90vw;
    margin-top: 90vh;
}

.preview {
    position: absolute;
    transition: width 2s, height 2s;
    width: 175vh;
    height: 100vh;
    margin: auto;
    display: block;
    margin-right: 50vh;
}

.splat {
    position: absolute;
    display: block;
    transition: width 2s, height 2s;
    width: 40vh;
    height: 40vh;
    margin: auto;
    margin-right: 50vh;
}

.splat1 {
    position: absolute;
    margin-top: 400px;
    margin-left: -50px;
}

.content1 {
    position: absolute;
    margin-top: 500px;
    margin-left: 120px;
}

.splat2 {
    position: absolute;
    margin-top: 0px;
    margin-left: 700px;
}

.content2 {
    position: absolute;
    margin-top: 95px;
    margin-left: 870px;
}

.splat3 {
    position: absolute;
    margin-top: 580px;
    margin-left: 1100px;
}

.content3 {
    position: absolute;
    margin-top: 680px;
    margin-left: 1295px;
}

.contents {
    position: absolute;
    color: aliceblue;
    font-size: 30px;
}

.text-container {
    margin-left: 0vw;
    text-align: right;
}

.text-container p {
    font-size: 50px;
    color: white;
    line-height: 0px;
}

.text-container div {
    position: absolute;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 50vh;
}

.episodestext {
    text-align: right;
    align-content: right;
}

.one {
    top: -30vh
}

.two {
    top: -15vh
}

.three {
    top: 0vh
}

.angryface {
    color: #D12A1C;
    position: absolute;
    width: 500px;
    height: 650px;
    margin-left: 35vw;
    margin-top: 25vh;
}

.small {
    line-height: 23px;
    font-size: 15px;
    text-align: center;
}
